#container{
  overflow:hidden;
  white-space:nowrap
}

div{
 white-space:nowrap

}

.row{
  display: flex;
}

.square{
  border:double;
  width: 15px;
  height: 15px;
}

.red{
  background-color: red;
}
